.footer__text {
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
    margin-right: 15px
}

.footer__text:last-child {
    margin-right: 0px
}

@media screen and (max-width:400px) {
    .footer__text {
        margin-bottom: 10px;
    }
}