.menu_link {
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
    padding: 0px 10px;
    border: 1px solid rgba(0,0,0,0);
    transition: border 0.4s linear;

}

.menu_link:hover {
    border: 1px solid white;
}

@media screen and (max-width:550px) {
    .menu_link {
        font-size: 12px;

    }
}