.header__title {
    font-size: 100px;
    line-height: 150px;
    font-weight: 400;
    margin: 0;
}

@media screen and (max-width:550px) {
    .header__title {
        font-size: 80px;
        line-height: 88px;
    }
}